.container{
  padding: 0 2rem;
  max-width: 192rem;
  min-width: 36rem;
  margin: 0 auto;

  @include media(">=md"){
    padding: 0 4.2rem;
  }

  @include media(">=lg"){
    padding: 0 8rem;
  }

  @include media(">=xl"){
    padding: 0 13.8rem;
  }

  &--fluid{
    max-width: none;
  }
}