.input-row{
  position: relative;
  margin: 0 0 1.7rem;

  $this: &;

  &:last-child{
    margin: 0;
  }

  &__title{
    color: $primary;
    font-size: 1.2rem;
    line-height: 1.166rem;
    margin: 0 0 .5rem;
  }

  &__input-text{
    width: 100%;
  }
}