#modal-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: calc(100vh - 9rem);
  border-radius: 2.4rem 2.4rem 0 0;
  background-color: $white;
  display: flex;
  flex-direction: column;
  transform: translate(0, 110%);
  z-index: 1000;
  @include animate(transform);

  &.visible{
    transform: translate(0, 0);
  }

  @include media(">=sm"){
    left: auto;
    bottom: auto;
    top: 4rem;
    right: 1.6rem;
    width: 42rem;
    height: 76.6rem;
    transform: translate(110%, 0);
    border-radius: 2.4rem;
  }

  @include media(">=md"){
    right: 3rem;
  }

  &__title-controls{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex: 0 1 auto;
    padding: 0 0 1.6rem;
    margin: 2.4rem 2.4rem 0;
    border-bottom: 1px solid $secondary;
  }

  &__btn--close{
    margin-left: auto;
  }

  &__main{
    padding: 2.4rem 2.4rem 0;
    flex: 0 1 auto;
    overflow-y: auto;
  }

  &__heading{
    margin: 0 0 2.4rem;
  }

  &__sub-heading{
    color: $secondaryDarker2;
    font-size: $fontSize18;
    @include calcLineHeight($fontSize18);
    font-weight: 400;
    margin: 0 0 1.6rem;
  }

  &__body{
    margin: 0 0 2.4rem;
  }

  &__controls{
    padding-bottom: 2.4rem;
  }

  &__form{
    margin: 0 0 3.2rem;

    &:last-child{
      margin: 0;
    }
  }
}