#modal-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal{
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 34rem;
  width: calc(100% - 4rem);
  max-height: calc(100vh - 20rem);
  background: $white url("../img/bg/shape.svg") no-repeat top center/ 24rem auto;
  display: flex;
  flex-direction: column;
  transform: translate(-4000px, -50%);
  z-index: 1000;
  padding: 1rem 2rem 3rem;
  @include animate(transform, .5s);

  &--sm{
    max-width: 34rem;
  }

  &--md{
    max-width: 60rem;
  }

  &--lg{
    max-width: 83rem;
  }

  &.visible{
    transform: translate(-50%, -50%);
  }

  &--menu{
    left: auto;
    top: 0;
    right: 0;
    transform: translate(120vw, 0);
    width: 32rem;
    min-width: 0;
    height: 100%;
    max-height: none;
    background: $white;
    padding: 3.5rem;

    &.visible {
      transform: translate(0, 0);
    }
  }

  &__btn-close{
    font-size: 1.8rem;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: $white;
    position: absolute;
    right: 0;
    top: -4rem;
    cursor: pointer;

    @include media(">=lg"){
      top: 0;
      right: -4rem;
    }
  }

  &__title{
    border-bottom: 1px solid $primary;
    margin: 0 auto 3rem;
    min-width: 30rem;
  }

  &__heading{
    padding: 1rem 2.5rem;
    font-size: 2.2rem;
    line-height: 1.36;
    text-align: center;
  }

  &__main{;
    flex: 0 1 auto;
    overflow-y: auto;
  }

  &__body{
    margin: 0 0 4rem;
  }

  &__controls{
    padding-bottom: 2.4rem;
  }

  &__tab{
    display: flex;
    align-items: center;
  }

  &__tab-btn{
    @extend %buttonreset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 1rem 2.5rem;
    position: relative;

    &--active::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $primary;
    }
  }

  &__tab-btn-text{
    font-size: 2.2rem;
    line-height: 1.36;
    margin: 0 .8rem 0 0;
  }

  &__tab-btn-icon{
    font-size: 2.4rem;
  }

  &__footer{
    margin: 0 0 3rem;

    &:last-child{
      margin: 0;
    }
  }

  &__menu-controls{
    justify-content: space-between;
    margin: 0 0 7rem;

    .menu-controls__btn{
      margin: 0;
    }
  }

}