.prize-title{
  position: relative;

  &__container{
    position: relative;
    z-index: 10;
    min-height: 48.8rem;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    color: $white;

    @include media(">=md"){
      min-height: 44.7rem;
      padding: 3.6rem 8rem;
    }

    @include media(">=lg"){
      min-height: 49.9rem;
      padding: 5.5rem 8rem;
    }

    @include media(">=xl"){
      min-height: 71.4rem;
      padding: 8.4rem 13.8rem;
    }
  }

  &__bg-img-item{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading{
    font-size: 4.4rem;
    line-height: 1.045;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 11;

    @include media(">=md"){
      text-align: left;
    }

    @include media(">=xl"){
      font-size: 7.2rem;
      line-height: 1;
    }
  }

  &__heading-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 57.5%;
    width: auto;

    @include media(">=md"){
      height: 100%;
    }
  }
}