.rules{
  font-size: 1.3rem;

  @include media(">=lg"){
    font-size: 1.4rem;
  }

  &__title{
    margin: 0 auto 2rem;
    max-width: 63rem;
    text-align: center;

    @include media(">=lg"){
      margin: 0 auto 4rem;
    }
  }

  &__section{
    margin: 0 0 2em;

    &:last-child{
      margin: 0;
    }
  }
}