.updates{
  padding: 3.6rem 0;

  @include media(">=md"){
    padding: 4.8rem 0;
  }

  @include media(">=lg"){
    padding: 5.5rem 0;
  }

  @include media(">=xl"){
    padding: 6.6rem 0;
  }

  &__list{
    @include media(">=lg"){
      display: grid;
      grid-gap: 4.5rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media(">=xl"){
      grid-gap: 11.5rem;
    }
  }

  &__list-item{
    margin: 0 0 3rem;

    @include media(">=sm"){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      margin: 0 0 5rem;
    }

    @include media(">=lg"){
      display: block;
      margin: 0;
    }

    &:last-child{
      margin: 0;
    }
  }

  &__list-num{
    display: flex;
    align-items: center;
    margin: 0 0 1.9rem;

    @include media(">=lg"){
      align-items: flex-start;
    }

    @include media(">=xl"){
      margin: 0 0 5rem;
    }
  }

  &__list-num-item{
    font-family: $font-widened;
    font-weight: 700;
    font-size: 10.02rem;
    line-height: 1;
    margin-right: 2.4rem;

    @include media(">=lg"){
      font-size: 8rem;
    }

    @include media(">=xl"){
      font-size: 14.8rem;
    }
  }

  &__list-num-text{
    font-size: 2.6rem;
    line-height: 1.038;

    @include media(">=sm"){
      font-size: 2.2rem;
    }

    @include media(">=lg"){
      font-size: 1.9rem;
      margin-top: .7rem;
    }

    @include media(">=xl"){
      font-size: 3.2rem;
      margin-top: 1.5rem;
    }
  }

  .updates__list-desc-post{
    font-size: 1.9rem;
    line-height: 1.315;
    margin: 0 0 2rem;
    color: $primary;

    @include media(">=sm"){
      font-size: 1.6rem;
      text-align: center;
    }

    @include media(">=md"){
      font-size: 1.9rem;
    }

    @include media(">=xl"){
      font-size: 2.8rem;
    }

    &:last-child{
      margin: 0;
    }
  }

  &__list-desc-img{
    display: block;
    margin: 0 auto 2rem;
    max-width: 28.8rem;

    &:last-child{
      margin: 0 auto;
    }

    @include media(">=sm"){
      margin: 0 auto 2rem;
      width: 70%;
      max-width: 25rem;
    }

    @include media(">=lg"){
      margin: 0 auto 2rem;
    }

    @include media(">=xl"){
      max-width: 27rem;
    }
  }
}