<footer class="page-footer page__page-footer">
    <div class="container">
        <div class="page-footer__holder">
            <ol class="page-footer__note-list">
                <li class="page-footer__note-list-item">
                    Лужні батарейки VARTA AAA/Micro/LR03, LONGLIFE, LONGLIFE Power, LONGLIFE Max Power. Продуктивність в
                    середньому відповідно до норм IEC 60086-2 Ed. 14, 2021-04 на основі внутрішніх тестів у порівнянні з
                    основними конкурентами в Європі, у відповідному класі якості. Продуктивність може варіюватись в
                    залежності від пристрою.
                </li>
                <li class="page-footer__note-list-item">
                    В іграшці у порівнянні з мінімальною середньою тривалістю згідно норм IEC 60086-2:2015, Ed.13. на основі
                    внутрішнього тестування у січні 2021. Продуктивність може варіюватись в залежності від пристрою.
                </li>
                <li class="page-footer__note-list-item">
                    У цифрових камерах, у порівнянні з мінімальною середньою тривалістю згідно норм IEC 60086-2:2015, Ed.13.
                    на основі внутрішнього тестування у січні 2021. Продуктивність може варіюватись в залежності від
                    пристрою.
                </li>
                <li class="page-footer__note-list-item">
                    Ціль по продуктивності після оновлення. Остаточні результати очікуються. Внутрішнє тестування
                    продуктивності VARTA CR2032 згідно основних вимог електричних випробувань IEC та MAD 01/2021. Результати
                    тестів конкурентів згідно основних вимог електричних випробувань IEC та MAD. 09/2019.
                </li>
                <li class="page-footer__note-list-item">
                    У порівнянні з поточною продуктивністю – внутрішні тести на основі IEC 61951-2 видання 3.0.
                    Продуктивність може варіюватись в залежності від пристрою.
                </li>
                <li class="page-footer__note-list-item">
                    Етичний споживач, бренди батарейок оцінюються за їх етичними характеристиками у Великобританії, 10/2020.
                </li>
                <li class="page-footer__note-list-item">
                    Порівняно з імпортом конкурентів; екстрапольовано на 1,375 контейнерів за однакових умов та на основі
                    1.1 мільярда лужних батарейок вироблених в Німеччині.
                </li>
            </ol>
        </div>
    </div>
</footer><!-- page footer -->