<header class="page-header page__page-header">
    <div class="container container--fluid page-header__container">

        <a class="page-header__logo logo" href="#">
            <img class="logo__img" src="assets/img/logo.svg" alt="Varta">
        </a>

        <div class="page-header__menu-controls menu-controls">
            <button class="menu-controls__btn menu-controls__btn--login" data-modal-id="login">
                <span class="menu-controls__btn-text">Вхiд</span>
                <i class="menu-controls__btn-icon icon icon--user"></i>
            </button>

            <button class="menu-controls__btn" data-modal-id="menu">
                <span class="menu-controls__btn-text">Меню</span>
                <i class="menu-controls__btn-burger burger">
                    <span class="burger__item"></span>
                </i>
            </button>
        </div><!--menu controls-->

    </div>
</header><!--page header-->