<div class="modal modal--md" id="winners-video">

    <i class="icon icon--cancel modal__btn-close modal-close"></i>

    <div class="modal__title">
        <div class="modal__heading modal-winners__title modal-winners__title--active" data-modal-id="winners"><b>Переможці 21.02.22</b></div>
    </div><!-- title -->

    <div class="modal__main">
        <div class="modal__body">

            <div class="video">
                <iframe class="video__item"
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/FyDNDxsqTOE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>

        </div><!-- body -->
    </div><!-- main -->

</div><!-- rules modal -->