<div class="modal modal--menu" id="menu">

    <div class="modal__menu-controls menu-controls">
        <button class="menu-controls__btn menu-controls__btn--login" data-modal-id="login">
            <span class="menu-controls__btn-text">Вхiд</span>
            <i class="menu-controls__btn-icon icon icon--user"></i>
        </button>

        <button class="menu-controls__btn modal-close">
            <span class="menu-controls__btn-text">Меню</span>
            <i class="menu-controls__btn-burger burger burger--active">
                <span class="burger__item"></span>
            </i>
        </button>
    </div><!--menu controls-->

    <div class="modal__main">
        <nav class="menu-nav">
            <ul class="menu-nav__list">
                <li class="menu-nav__list-item">
                    <a class="menu-nav__list-link" href="#" data-modal-id="code-registration">
                        <i class="icon icon--arrow-triangle-right menu-nav__list-icon"></i>
                        <span class="menu-nav__list-text">Реєстрація кода</span>
                    </a>
                </li>
                <li class="menu-nav__list-item">
                    <a class="menu-nav__list-link" href="#" data-modal-id="winners">
                        <i class="icon icon--arrow-triangle-right menu-nav__list-icon"></i>
                        <span class="menu-nav__list-text">Переможці</span>
                    </a>
                </li>
                <li class="menu-nav__list-item">
                    <a class="menu-nav__list-link" href="#" data-modal-id="rules">
                        <i class="icon icon--arrow-triangle-right menu-nav__list-icon"></i>
                        <span class="menu-nav__list-text">Умови акції</span>
                    </a>
                </li>
                <li class="menu-nav__list-item">
                    <a class="menu-nav__list-link" href="#">
                        <i class="icon icon--arrow-triangle-right menu-nav__list-icon"></i>
                        <span class="menu-nav__list-text">Подарунки</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div><!-- main -->

</div><!-- menu modal -->