<div class="modal modal--alert modal--xxl" id="alert">

    <i class="icon icon--cancel modal__btn-close modal-close"></i>

    <div class="modal__main">
        <div class="alert modal__alert">
            <h3 class="alert__title">
                VARTA дарує <span>мільйон!</span>
            </h3>
            <p class="alert__text">
                розіграш головного призу<br>
                відбудеться 27.06.2023
            </p>

            <div class="alert__controls">
                <button class="btn btn--size--regular btn--style--primary" data-modal-id="login">
                    Перевірити свою реєстрацію
                </button>
                <button class="btn btn--size--regular btn--style--primary" data-modal-id="rules">
                    Офіційні правила
                </button>
            </div>
        </div>
    </div><!-- main -->

</div><!-- login modal -->