<div class="modal modal--sm modal-winners" id="winners">

    <i class="icon icon--cancel modal__btn-close modal-close"></i>

    <div class="modal__title">
        <div class="modal__heading modal-winners__title"><b>ПЕРЕМОЖЦI</b></div>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__body">
            <div class="modal-winners__body">

                <div class="modal-winners__inner">
                    <div class="modal-winners__item">
                        <div class="modal-winners__subtitle">Longlife 10 AAA (Double Blister)</div>
                        <ul class="modal-winners__list">
                            <li class="modal-winners__list-item">14-06-2021 Ліза Геріх , Черкаси</li>
                            <li class="modal-winners__list-item">07-06-2021 Андрій Демкович, Новояворівськ</li>
                            <li class="modal-winners__list-item">31-05-2021 Sergey, Харків</li>
                            <li class="modal-winners__list-item">24-05-2021 Вячеслав</li>
                            <li class="modal-winners__list-item">17-05-2021 Валентина</li>
                            <li class="modal-winners__list-item">10-05-2021 Дмитрий, Нова Каховка</li>
                            <li class="modal-winners__list-item">03-05-2021 (Ксения) クセニヤ 未来 , Днепр</li>
                            <li class="modal-winners__list-item">26-04-2021 Євгеній</li>
                        </ul>
                    </div>

                    <div class="modal-winners__item">
                        <div class="modal-winners__subtitle">Pocket Charger EU</div>
                        <ul class="modal-winners__list">
                            <li class="modal-winners__list-item">02-08-2021 Руслан, Коростишів</li>
                            <li class="modal-winners__list-item">26-07-2021 ГАРИК, Мирноград</li>
                            <li class="modal-winners__list-item">19-07-2021 Danik</li>
                        </ul>
                    </div>

                    <div class="modal-winners__item">
                        <div class="modal-winners__subtitle">VARTA INDESTRUCTIBLE F20 Pro</div>
                        <ul class="modal-winners__list">
                            <li class="modal-winners__list-item">07-06-2021 Андрій Демкович, Новояворівськ</li>
                            <li class="modal-winners__list-item">31-05-2021 Sergey, Харків</li>
                            <li class="modal-winners__list-item">24-05-2021 Вячеслав</li>
                            <li class="modal-winners__list-item">17-05-2021 Валентина</li>
                            <li class="modal-winners__list-item">10-05-2021 Дмитрий, Нова Каховка</li>
                            <li class="modal-winners__list-item">03-05-2021 Ксения) クセニヤ 未来, Днепр</li>
                            <li class="modal-winners__list-item">26-04-2021 Євгеній</li>
                        </ul>
                    </div>

                    <div class="modal-winners__item">
                        <div class="modal-winners__subtitle">Longlife 10 AAA (Double Blister)</div>
                        <ul class="modal-winners__list">
                            <li class="modal-winners__list-item">14-06-2021 Ліза Геріх , Черкаси</li>
                            <li class="modal-winners__list-item">07-06-2021 Андрій Демкович, Новояворівськ</li>
                            <li class="modal-winners__list-item">31-05-2021 Sergey, Харків</li>
                            <li class="modal-winners__list-item">24-05-2021 Вячеслав</li>
                            <li class="modal-winners__list-item">17-05-2021 Валентина</li>
                            <li class="modal-winners__list-item">10-05-2021 Дмитрий, Нова Каховка</li>
                            <li class="modal-winners__list-item">03-05-2021 (Ксения) クセニヤ 未来 , Днепр</li>
                            <li class="modal-winners__list-item">26-04-2021 Євгеній</li>
                        </ul>
                    </div>

                    <div class="modal-winners__item">
                        <div class="modal-winners__subtitle">Pocket Charger EU</div>
                        <ul class="modal-winners__list">
                            <li class="modal-winners__list-item">02-08-2021 Руслан, Коростишів</li>
                            <li class="modal-winners__list-item">26-07-2021 ГАРИК, Мирноград</li>
                            <li class="modal-winners__list-item">19-07-2021 Danik</li>
                            <li class="modal-winners__list-item">12-07-2021 Olga, Киев</li>
                            <li class="modal-winners__list-item">05-07-2021 Екатерина</li>
                            <li class="modal-winners__list-item">28-06-2021 Daniil Prokhorov, Київ</li>
                            <li class="modal-winners__list-item">21-06-2021 Владислава, Кривой Рог</li>
                            <li class="modal-winners__list-item">14-06-2021 Ліза Геріх, Черкаси</li>
                        </ul>
                    </div>

                    <div class="modal-winners__item">
                        <div class="modal-winners__subtitle">VARTA INDESTRUCTIBLE F20 Pro</div>
                        <ul class="modal-winners__list">
                            <li class="modal-winners__list-item">07-06-2021 Андрій Демкович, Новояворівськ</li>
                            <li class="modal-winners__list-item">31-05-2021 Sergey, Харків</li>
                            <li class="modal-winners__list-item">24-05-2021 Вячеслав</li>
                            <li class="modal-winners__list-item">17-05-2021 Валентина</li>
                            <li class="modal-winners__list-item">10-05-2021 Дмитрий, Нова Каховка</li>
                            <li class="modal-winners__list-item">03-05-2021 Ксения) クセニヤ 未来, Днепр</li>
                            <li class="modal-winners__list-item">26-04-2021 Євгеній</li>
                        </ul>
                    </div>

                </div>
            </div><!-- winners -->
        </div><!-- body -->

    </div><!-- main -->

</div><!-- registration modal -->