<div class="modal modal--sm" id="code-registration">

    <i class="icon icon--cancel modal__btn-close modal-close"></i>

    <div class="modal__title">
        <div class="modal__heading">Зареєструвати код</div>
    </div><!-- title -->

    <div class="modal__main">
        <div class="modal__body">
            <div class="input-row">
                <div class="input-row__title">Введіть код</div>
                <input class="input-text input-row__input-text" type="text" placeholder="XXX XX XX">
            </div>
        </div><!-- body -->

        <div class="modal__footer text--center">
            <button class="btn btn--size--regular btn--widened btn--style--primary">Зареєструвати</button>
        </div><!-- footer -->

    </div><!-- main -->

</div><!-- registration modal -->